<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="typeICollectionAsList"
             type="WCF.Behaviors.CollectionIsListBehaviorElement, WCF.Behaviors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="trasformICollection">
          <typeICollectionAsList />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint name="noExtensions"
                address="http://localhost:60634/PetShopService.svc"
                binding="basicHttpBinding"
                contract="Contracts.Services.IPetShopService" />
      <endpoint name="extensions"
                behaviorConfiguration="trasformICollection"
                address="http://localhost:60634/PetShopService.svc"
                binding="basicHttpBinding"
                contract="Contracts.Services.IPetShopService" />
    </client>
  </system.serviceModel>
</configuration>